* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(253, 21%, 92%);
}
.container {
  width: 70%;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 13rem 13rem 13rem;
  grid-template-areas:
    "column1 column2 column3"
    "column1 column2 column3"
    "column1 column4 column4";
  /* margin-inline: auto; */
  gap: 1rem;
  padding: 1rem;
}
.container > *,
.insider-element {
  display: grid;
  gap: 1rem;
}
.insider-element {
  grid-template-columns: 1fr 1fr;
}
.insider-element:nth-child(1) {
  /* border: 1px solid red; */
  grid-template-columns: 0.95fr 2fr;
}
.one {
  grid-area: column1;
}
.two {
  grid-area: column2;
}
.three {
  grid-area: column3;
}
.four {
  grid-area: column4;
}
.create {
  display: grid;
  place-items: center;
  padding: 2rem;
  background-color: hsl(31, 66%, 93%);
  img {
    width: 10rem;
  }
}
.content {
  background-color: hsl(39, 100%, 71%);
}
.media {
  background-color: hsl(256, 67%, 59%);
}
.manage {
  background-color: white;
}
.posting {
  background-color: hsl(39, 100%, 71%);
}
.schedule {
  background-color: hsl(254, 88%, 90%);
}
.audience {
  background-color: white;
}
.followers {
  background-color: hsl(256, 67%, 59%);
}

/*media query*/
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 13rem 13rem 13rem 13rem;
    grid-template-areas:
      "column2 column3"
      "column2 column3"
      "column4 column4"
      "column1 column1";
  }
  .one {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "column2"
      "column3"
      "column4"
      "column1";
  }
  .one {
    grid-template-columns: 1fr 1fr;
  }
  .insider-element,
  .insider-element:nth-child(1),
  .one {
    grid-template-columns: 1fr;
  }
}
